<!doctype html>
<html lang="en">

<head>
  <title>Admin <%=title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <h1><a href="index.html" class="logo">Welcome Admin</a></h1>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="/admin/dashboard"><span class="fa fa-user mr-3"></span> Dashboard</a>
        </li>

        <li>
          <a href="/admin/banner"><span class="fa fa-sticky-note mr-3"></span>Banner</a>
        </li>

        <li>
          <a href="/admin/about"><span class="fa fa-paper-plane mr-3"></span> About</a>
        </li>

        <li>
          <a href="/admin/service"><span class="fa fa-sticky-note mr-3"></span> Services</a>
        </li>

        <li>
          <a href="/admin/news"><span class="fa fa-sticky-note mr-3"></span>Blogs</a>
        </li>
        <li>
          <a href="/admin/comments"><span class="fa fa-sticky-note mr-3"></span>Comments</a>
        </li>
        <li>
          <a href="/admin/users"><span class="fa fa-sticky-note mr-3"></span>Users</a>
        </li>

        <li>
          <a href="/admin/department"><span class="fa fa-sticky-note mr-3"></span> Department</a>
        </li>

        <li>
          <a href="/admin/doctors"><span class="fa fa-sticky-note mr-3"></span> Doctors</a>
        </li>
        <li>

        <li>
          <a href="/admin/appoinment"><span class="fa fa-sticky-note mr-3"></span> Appoinments</a>
        </li>

        <li>
          <a href="/admin/contact"><span class="fa fa-sticky-note mr-3"></span> Contact</a>
        </li>
        
      </ul>
      
      <h5 class="mr-3"><a href="/admin/logout">Logout</a></h5>

    </nav>