<!-- Slider Start -->
<% if(bannerData.length> 0) {
	for(data of bannerData) {
	%>
<section class="banner" style="background-image: url('/uploads/<%=data.image %>');">

	<% } } %>
	<div class="container">
		<% if(bannerData.length> 0) {
			for(data of bannerData) {
			%>
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Total Health care solution</span>
					<h1 class="mb-3 mt-3"><%=data.title%></h1>
					
					<p class="mb-4 pr-5"><%=data.content%></p>
					<div class="btn-container ">
						<a href="/appoinment" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Make appoinment <i class="icofont-simple-right ml-2  "></i></a>
					</div>
				</div>
			</div>
		</div>
		<% } } %>
	</div>



</section>